[submodule "vesc_express"]
path = dependencies/vesc_express
url = git@github.com:vedderb/vesc_express
[submodule "bldc"]
path = dependencies/bldc
url = git@github.com:vedderb/bldc
[submodule "vesc_bms_fw"]
path = dependencies/vesc_bms_fw
url = git@github.com:vedderb/vesc_bms_fw
[submodule "vesc_gpstm"]
path = dependencies/vesc_gpstm
url = git@github.com:vedderb/vesc_gpstm
[submodule "dependencies/vesc4g"]
	path = dependencies/vesc4g
	url = git@github.com:Lindboard/Lind_Battery_Software.git
